.text-field{
    -fx-text-fill: #46536B;
    -fx-border-color: #7F7FD9;
    -fx-background-color: rgba(200, 200, 200, 0.1);
    -fx-border-radius: 10px;

}

#entryFlowPane{
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 20px;
}


#button_submit{
	-fx-background-color: #7F7FD9;
	-fx-text-fill: #FDFEFC;
	-fx-background-radius: 30px;
	
}

#button_submit:hover{
	-fx-cursor: hand;	
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 0);
}

#button_back{
	-fx-background-color: #7F7FD9;
	-fx-text-fill: #FDFEFC;
	-fx-background-radius: 30px;

}

#button_back:hover{
	-fx-cursor: hand;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 0);
}
